@import url('https://fonts.googleapis.com/css2? family=Poppins:ital,wght@0,300;0,400;1,500;1,700&display=swap');


body{justify-content: center;
    display: flex;
    align-items: center;
    background: #fce97f;
    animation: fadeBackground 10s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
 }
@keyframes fadeBackground {
   25%{
      background-color: #fce97f;
   }
   50% {
      background-color: #0a0a0a;
   }
     75%  {
         background-color: #7f6e8f88;
      }
   
      100%{
         background-color: #b85717;
      }
}

 section{
    font-family: 'Poppins', sans-serif;
    background-color: #ffff;
    padding: 35px;
    display: flex;
    height: 50vh;
    flex-direction: column;
    border-radius: 5px;
 }
 section h1{
    text-align: center;
 }
 form{
    display: flex;
    flex-direction: column;
 }
form input{
    margin: 5px 0;
    padding: 5px 5px;
    outline: 0;
    border: 1px solid mediumseagreen;
    border-radius: 6px;
    
 }
 form input[type='submit']{
    background-color:#17f;
    color: #fff;
    margin-top: 15px;
    padding: 6px 0;
 }
